* {
    background-color: #1A293E;
    
}

body {
    color: #A1CFF2;
}


.montserratheader {
    font-family: 'Montserrat', sans-serif;
}

.goldheader {
    color: #F4B952;
}

.navcentrecolor {
    background-color: #A1CFF2;
    text-align: center;
}