* {
    scroll-behavior: smooth;
    
}

body {
    color: #A1CFF2;
    background-color: #1A293E;
}


h1 {
    color: #F4B952;
}

.montserrat-font {
    font-family: 'Montserrat', sans-serif;
}

/* *********  MAIN PAGE NAV MENU FLEXBOX  *********** */

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2A2B2D;
    display: flex;
    padding: 0;
}

.nav-menu-list {
    background-color: inherit;
    display: flex;
    list-style-type: none;
    gap: 10px;
    justify-content: center;
}

.nav-container h1 {
    background-color: inherit;
    box-sizing: content-box; 
    font-size:  45px;
}

/* ************  Who Am I page Grid  **************** */

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}


.about-text {
    grid-column: 1/2;
}

.about-image {
    grid-column: 2/3;
}


/* *********  Copyright Data  ************* */

.copyright-box p{
    text-align: center;
    background-color: #2A2B2D;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* ************ ONLY Course html  **************** */ 


.nav-menu-list2 {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
}


.copyright-box2 p{
    text-align: center;
    background-color: #2A2B2D;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
}

.course-info {
    border-bottom: 2px pink solid;
}

.course-details {
    display: grid;
}

@media (min-width: 600px) {
    .nav-menu-list2 {
        flex-direction: row;
    }

    .copyright-box2 p {
        bottom: 0;
    }

    .course-info {
        border-bottom-color: black;
    }

    .course-details {
        grid-template-columns: 1fr 3fr;
        grid
    }
}